<div class="bg-theme" id="sidebar-wrapper">
  <div class="sidebar-heading pb-0">
    <a href="/admin">
      <!-- <img src="/img/logo-white.png" alt="" class="sidebar-logo" -->
      <h1 class="text-white">QR CODE</h1>
    </a>
  </div>
  <hr />
  <div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action text-white bg-theme" href="/admin"
      ><i class="fas fa-home mr-2"></i> Home</a
    >
    <a class="list-group-item list-group-item-action text-white bg-theme" href="/admin/order/all"
      ><i class="fas fa-trophy mr-2"></i> Orders</a
    >
    <a class="list-group-item list-group-item-action text-white bg-theme" href="/admin/qrcode/generate"
      ><i class="fas fa fa-qrcode mr-2"></i> Generate QRCode</a
    >
  </div>
</div>
